/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}



.container--1 {
  margin-top: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 67, 64, 0.61),
      rgba(59, 53, 51, 0.8)
    ),
    url(../Photos/panda.jpg);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
}

.container--2 {
  margin-top: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 67, 64, 0.61),
      rgba(59, 53, 51, 0.8)
    ),
    url(../Photos/panda-wallpapers-25572-9364517.jpg);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
}

.container--3 {
  margin-top: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 67, 64, 0.61),
      rgba(59, 53, 51, 0.8)
    ),
    url(../Photos/pandaji.jpg);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
}
.container--4 {
  margin-top: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 67, 64, 0.61),
      rgba(59, 53, 51, 0.8)
    ),
    url(../Photos/panda-wallpapers-25572-4926791.jpg);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
}

.container--5 {
  margin-top: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(77, 67, 64, 0.61),
      rgba(59, 53, 51, 0.8)
    ),
    url(../Photos/Untitled.png);
  background-size: cover;
  background-position: center;
  min-height: 95vh;
}

body {
  font-size: 62.5%;
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #ff9e80, #ff6e40);
}

.image_logo {
  height: 70px;
  width: 70px;
  padding-bottom: 5px;
}

.leftanime {
  display: block;
  text-transform: uppercase;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration: 5s;
}

.balloon {
  animation-name: moveInRight;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wishes_tab {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
  }

  100% {
    opacity: 1;
    transform: translate(1);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;

    transform: translateY(-100px);
  }

  80% {
  }

  100% {
    opacity: 1;
    transform: translate(1);
  }
}

.card {
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  min-height: 70vh;
}

.card2 {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  min-height: 70vh;
}

.gift_btn {
  margin: 1rem;
}
